@import url(https://fonts.googleapis.com/css2?family=Montserrat);

html body {
	background: whitesmoke;
	background-size: cover;
}

.carousel {
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	padding: 30px 25px 25px 25px;
}

/* Carousel base class */
.carousel {
	background-color: rgba(0, 0, 0, 0.85);
	margin-left: auto;
	margin-right: auto;
	padding-top: 6px ;
  padding-bottom: 6px;
	margin-top: 2px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 1rem;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.32);
}

.carousel-control-next,
.carousel-control-prev {
	width: 45px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	padding-left: 4px;
	padding-right: 4px;
}

.card {
	transition: all 0.4s ease;
	cursor: pointer;
	user-select: none;
	z-index: 5;
	overflow: hidden;
	color: rgb(149, 148, 148);
	text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
	border: solid 2px rgb(53, 53, 53);
	background-color: #f2fcfff5/*var(--bg-color)*/;
	border-radius: 10px;
	padding: 7px;
	margin-left: 2px;
	margin-right: 2px;
}

.card:hover {
	color: whitesmoke;
	background: linear-gradient(#3071db, rgb(149, 187, 204));
	border: solid 2px rgb(149, 204, 198);
	border-radius: 13px;
	padding: 7px;
}

.card-img-overlay {
	text-shadow: #060a0a 2px 2px 2px;
	background-color: rgba(0, 0, 0, 0.32);
}

.card-img-overlay:hover {
	text-shadow: #060a0a 2px 4px 2px;
	background-color: rgba(0, 0, 0, 0.12);
}

.carousel-item > img {
	position: absolute;
	background-color: rgba(2, 11, 10, 0.21);
	top: 0;
	left: 0;
	min-width: 100%;
	object-fit: cover;
}

.carousel-item > button {
	position: absolute;
	bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

@media (max-width: 767px) {
	.carousel {
		height: 60%;
	}

	.carousel-inner .carousel-item > div {
		display: none;
	}

	.carousel-inner .carousel-item > div:first-child {
		display: block;
	}

	.carousel-inner {
		width: 90%;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

@media (min-width: 768px) {
	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(33.3333%);
	}

	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-33.3333%);
	}

	.carousel-control-next {
		right: 2px;
	}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
	transform: translateX(0);
}

/*.carousel-control-next-icon,.carousel-control-prev-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;  
  background: aquamarine;  
  font-size: 22px!important;
  opacity: 1.0!important;
  z-index: 88;
  border: 2px solid whitesmoke;
  box-shadow: 1px 1px 3px black;
}*/
