:root {
	--mf-blue-1: #0d6efd;
	--mf-blue-2: #1474e1;
	--mf-blue-3: #224aa4;
	--mf-blue-4: #4586cf;
	--mf-blue-5: #badcff;

	--mf-btn-modif-1: #1e6eba;
	--mf-btn-modif-2: #157ee1;

	--mf-red: #dc3545;
	--mf-orange: #fd7e14;
	--mf-yellow: #ffc107;

	--mf-green-1: #394e41;
	--mf-green-2: #80b49ce8;
	--mf-green-3: #254d32;
	--mf-green-4: #198754;

	--mf-velvet-1: #51067d;
	--mf-velvet-2: #a23bff;
	--mf-velvet-3: #a23bff;
	--mf-velvet-4: #4714e1;

	--mf-white: #fff;

	--mf-gray-1: #6c757d;
	--mf-gray-2: #6c757d;
	--mf-gray-3: #6c757d;
	--mf-gray-4: #6c757d;

	--mf-b-gray-1: #434e66;
	--mf-b-gray-2: #a8b1c5;
	--mf-b-gray-3: #7694d5;
	--mf-b-gray-4: #708291;


	--mf-dark-1: #212529;
	--mf-dark-2: #212529;
	--mf-dark-3: #212529;
	--mf-dark-4: #212529;
}

body {
	overflow-x: hidden;
}

.logo {
	width: 60px;
	height: 40px;
}

@media (max-width: 767px) {
	.carousel-inner .carousel-item>div {
		display: none;
	}

	.carousel-inner .carousel-item>div:first-child {
		display: block;
	}
}

.carousel-inner {
	background: black;
	text-align: center;
}

.carousel-item img {
	width: 100%;
	object-fit: contain;
	object-position: center;
	overflow: hidden;
	height: 50vh;
}

/* navbar */
.navbar-dark .navbar-toggler {
	height: 99%;
	margin-right: 3px;
	margin-bottom: 5px;
	color: #ffffff8c;
	border-color: #ffffff1a;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	/*border-color: rgba(28, 28, 234, 0.35);*/
	box-shadow: 0 0 0 0.1rem #0d6efdd9;
}

.navbar-toggler:hover {
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 0.08rem #0d6efdf2;
}

/* couleurs de fond */
.bg-form {
	border-radius: 8px;
	background: linear-gradient(#51067d, #4714e1);
}

.bg-blue {
	background: linear-gradient(var(--mf-b-gray-1), var(--mf-blue-2), var(--mf-blue-3));

}

.bg-blue2 {
	background: linear-gradient(var(--mf-b-gray-2), var(--mf-blue-2), #062467);
}

.bg-yellow {

	background: linear-gradient(#7d2c06, #ac6104, #7d2c06);
}

.bg-velvet {
	background: linear-gradient(#51067d, #a23bff, #540285);

}

.bg-green {
	background: linear-gradient(#394e41, #80b49ce8, #254d32);

}

/**/
.f-blue {
	background: linear-gradient(#1759b1, #4391e9, #000000);

}

.f-blue2 {

	background: linear-gradient(#7694d5, #105eb7, #1e2942);
}

.f-yellow {

	background: linear-gradient(#7d2c06, #ac6104, #7d2c06);
}

.f-velvet {

	background: linear-gradient(#51067d, #4714e1);
}

.f-green {

	background: linear-gradient(#B3DEC1, #012a17e8, #001106);
}

/**/

.menu-bg-blue {

	background: linear-gradient(#0759b0, #7ab5f2, #4c79a8);
}

.menu-bg-blue2 {

	background: linear-gradient(#194b96, #175ab2, #072b79);
}

.menu-bg-yellow {

	background: linear-gradient(#7d2c06, #ac6104, #7d2c06);
}

.menu-bg-velvet {

	background: linear-gradient(#51067d, #4714e1);
}

.menu-bg-green {
	background: linear-gradient(#394d40, #2d5442e8, #b1dcbf);

}

/**/

a.text-white {
	text-decoration: none;
	color: white !important;
}

a:hover.text-white {
	color: #deeaf5 !important;
}

a:visited.text-white {
	color: #dfe8f0;
}

.cercle {
	text-align: center;
	color: white;
	background: #707070;
	border-radius: 50%;
	border: 2px solid #02063c;
	max-width: 120px;
	max-height: 120px;
	text-decoration: none;
	list-style: none;
	padding: 5px 7px;
}

/* dégradés */
.velvet-gradient {
	background: linear-gradient(40deg, #33b5e5, #6c36d7) !important;
}

.velvet-gradient2 {
	background: linear-gradient(#9a3ba0, #e6aaea) !important;
}

.velvet-gradient2:hover {
	background: linear-gradient(#870491, #e292e8) !important;
}

.peach-gradient {
	background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

/* tables */
.table-primary {
	--bs-table-bg: #81469ec7;
	--bs-table-striped-bg: #be1af21c;
	--bs-table-striped-color: #ece8e8;
	--bs-table-active-bg: #500680;
	--bs-table-active-color: #ece8e8;
	--bs-table-hover-bg: #4e0f82;
	--bs-table-hover-color: #ece8e8;
	color: #ece8e8;
	border-color: #8d0679;
}

table>thead {
	vertical-align: bottom;
	background: linear-gradient(#eb0797, #1f2152);
}

.mycontainer {
	margin-left: 60px;
	margin-bottom: 40px;
}

.mycontent {
	color: #888585;
}

.mct {
	margin-bottom: 2px;
}

/* notations */
.myrating {
	color: #b4690e;
	display: inline-block;
	font-weight: 600;
}

.fa,
.fa-star {
	display: inline-block;
}

.checked {
	color: orange;
}

@media (max-width: 1080px) {
	.myrating {
		display: none;
	}
}

.header-title,
.label-title {
	color: white;
}

.header-title {
	text-shadow: 1px 2px 6px black;
}

.link {
	color: white;
	text-decoration: none;
}

.v-center {
	display: flex;
	justify-content: center;
}

.white-title {
	color: white;
}

.bold {
	font-weight: 550;
}

.circle {
	border-radius: 50%;
}

.w-h-40 {
	width: 40px;
	height: 40px;
}

hr {
	margin: 0;
}

.title0 {
	font-size: 18x;
	font-weight: 600;
}

.btn-title0 {
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100px;
	font-size: 12px;

	color: white;
	background: #185c9c;
	border-radius: 5px;
}

.btn-title0 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	text-shadow: 1px 1px 1px black;
	color: white;
	background: #1e6eba;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	width: 100%;
}

.btn-title0:hover {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 11px;
	text-shadow: 1px 1px 2px black;
	color: white;
	background: #157ee1;
	border-radius: 5px;
}

.title1 {
	font-size: 18px;
	font-weight: 600;
}

.title2 {
	font-size: 12px;
	font-weight: 450;
}

.title3 {
	text-shadow: 1px 1px 4px #0d6efd66;
	width: 100%;
	font-size: 44px;
	font-weight: 800;
	margin-bottom: 5px;
}

.title4 {
	font-size: 12px;
	font-weight: 700;
	color: #185c9c;
}

.title5 {
	font-size: 12px;
	font-weight: 700;
}

.fade-2 {
	height: 1px;
	margin: 0;
	background:  #2673de;
	border: 0;
	margin-bottom: 4px;
}

.fade-2::before {
	display: block;
	margin-left: -10%;
	margin-top: -1px;
	content: "";
	background: linear-gradient(to left, #33333318, #2673de);
	width: 10%;
	height: 1px;
}

.fade-2::after {
	display: block;
	margin-left: 100%;
	margin-top: -1px;
	content: "";
	background: linear-gradient(to right, #2673de, #33333318);
	width: 10%;
	height: 1px;
}

.ton-blue-6 {
	color: #2978c1;
}

.ton-blue-5 {
	color: #4799e6;
}

.fade-1 {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#badcff+0,60abf8+50,60abf8+50,badcff+100 */
	background: #badcff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #badcff 0%, #60abf8 50%, #60abf8 50%, #badcff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #badcff 0%, #60abf8 50%, #60abf8 50%, #badcff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #badcff 0%, #60abf8 50%, #60abf8 50%, #badcff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#badcff', endColorstr='#badcff', GradientType=1);
	/* IE6-9 */
}

#my_camera {
	width: 150px;
	height: 112.5px;
	background: rgb(152, 165, 175);
	border: 1px solid #1e70cd;
}

#results {
	width: 150px;
	height: 112.5px;
	background: rgb(152, 165, 175);
	border: 1px solid #1e70cd;
}

#frame_snapshot {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 205px;
	height: 205px;
	background: black;
	border-radius: 5px;
}

#snapshot {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 112.5px;
}

.contain {
	object-fit: contain;
}

.end {
	display: flex;
	align-items: flex-end;
}

.start {
	display: flex;
	width: 100%;
	align-items: flex-start;
}

.flex {
	display: flex;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-trophy {
	display: flex;
	gap: 8px;
	justify-content: flex-start;
	align-items: center;
}

.mt-5 {
	margin-top: 2.6rem !important;
}

.form-control {
	font-size: 0.9rem;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-tooltip {
	background: #185c9c;
}

.rounded-circle-frame {
	background: transparent;
	border-radius: 50%;
	border: 2px solid #185c9c;
}

.relief {
	text-shadow: 1px 1px 4px black;
}

/* boutons en fonction des thèmes  */
.btn-outline-primary-1 {
	background: var(--mf-blue-5);
	color: whitesmoke;
	border-color: black;
	border-radius: .25rem;
}

.btn-outline-primary-2 {
	background: var(--mf-green-1);
	color: whitesmoke;
	border-color: black;
	border-radius: .25rem;
}

.btn-outline-primary-3 {
	background: var(--mf-velvet-1);
	color: whitesmoke;
	border-color: black;
	border-radius: .25rem;
}

.btn-outline-primary-1:hover,
.btn-outline-primary-2:hover,
.btn-outline-primary-3:hover {
	filter: brightness(2);
	color: whitesmoke;
	border-color: black;

}

.btn-menu-outline-1 {
	color: #fff;
	background-color: var(--mf-blue-1);
	border-color: white;
	border-radius: .25rem;
}

.btn-menu-outline-2 {
	color: #fff !important;
	background-color: var(--mf-green-1);
	border-color: white;
	border-radius: .25rem;
}

.btn-menu-outline-1:hover,
.btn-menu-outline-2:hover,
.btn-menu-outline-3:hover {
	color: white;
	filter: brightness(1.8);
}


.btn-menu-outline-3 {
	color: #fff;
	background-color: var(--mf-velvet-1);
	border-color: white;
	border-radius: .25rem;
}


/* tableau entete */
.t_former {
	color: #fff !important;
	background: #4c0cab !important;
}

.t_skill {
	color: #fff !important;
	background: rgb(166, 227, 185) !important;
}

table#table_admin tr:hover {
	color: white;
	background-color: var(--mf-velvet-1);
	cursor: pointer;
}

table#table_rights td:hover {
	color: white;
	background-color: var(--mf-velvet-1);
	cursor: pointer;
}

.hidden {
	display: none;
}

.disabled {
	color: var(--mf-b-gray-2);
}