:root{
    --brightness:1.3;
}
/* theme super admin */
.button_superadmin {
    background: #620375;
    color: white;
}

.header_superadmin {
    background: #4c0cab;
    color: white;
}

.header_extra_superadmin {
    
    background: #6832ba;
    color: white;
}

.nav_superadmin {
    background: linear-gradient(#51067d, #a23bff, #540285);
}

.nav_left_superadmin {
    background: linear-gradient(#51067d, #4714e1);
}

.footer_superadmin {
    background: linear-gradient(#4714e1, #51067d);

}

/* theme admin */
.button_admin {
    background: #7c0694;
    color: white;
}

.header_admin {
    background: #9c3ea6;
    color: white;
}

.header_extra_admin {
    filter: brightness(var(--brightness));
    background: #9c3ea6;
    color: white;
}

.nav_admin {
    background: linear-gradient(#6c2573, #c361cd, #6c2573);
}

.nav_left_admin {
    background: linear-gradient(#892a90, #962e9e, #dc99e1);
}

.footer_admin {
    background: linear-gradient(#d68fdb, #a241aa, #9d39a5);
}


/* theme particulier */
.button_user {
    background: #3e5dab;
    color: white;
}

.header_user {
    background: #1f4985;
    color: white;
}

.header_extra_user {
    filter: brightness(var(--brightness));
    background: #1f4985;
    color: white;
}

.nav_user {
    background: linear-gradient(#194b96, #175ab2, #072b79);
}

.nav_left_user {
    background: linear-gradient(#4e81ce, #175ab2, #072b79);
}

.footer_user {
    background: linear-gradient(#072b79, #4391e9, #000000);
}

/* theme company */

.button_company {
    background: #3e5dab;
    color: white;
}

.header_company {
    background: #1f4985;
    color: white;
}

.header_extra_company {
    filter: brightness(var(--brightness));
    background: #1f4985;
    color: white;
}

.nav_company {
    background: linear-gradient(#194b96, #175ab2, #072b79);
}

.nav_left_company {
    background: linear-gradient(#4e81ce, #175ab2, #072b79);
}

.footer_user {
    background: linear-gradient(#072b79, #4391e9, #000000);
}


/* theme formateur */
.button_former {
    background: #892a90;
    color: white;
}

.header_former {
    background: #6c2573;
    color: white;
}

.header_extra_former {
    filter: brightness(var(--brightness));
    background: #6c2573;
    color: white;
}

.nav_former {
    background: linear-gradient(#6c2573, #c361cd, #6c2573);
}

.nav_left_former {
    background: linear-gradient(#892a90, #962e9e, #dc99e1);
}

.footer_former {
    background: linear-gradient(#d68fdb, #a241aa, #9d39a5);
}

/* default */
.header_default {
    background: #2e2e2e;
    color: white;
}

.button_default {
    background: #2e2e2e;
    color: white;
}

/* gestion hover des boutons */
.button_superadmin:hover,
.button_admin:hover,
.button_user:hover,
.button_former:hover,
.button_default:hover {
    filter: brightness(1.2);
    color: whitesmoke;
}

.sub_header_superadmin,
.sub_header_admin,
.sub_header_former,
.sub_header_user,
.sub_header_default {
    filter: brightness(1.3);
    color: whitesmoke;
}



.btn-collapse {
    text-align: left;
    color: #fff;    
}

.btn-collapse:hover {
    color: #fff;
    background-color: #4714e1;
    border-color: #1e0666;
}



/* coouleurs des fonts*/
.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}